<h1 style="text-align: center;"><span style="color: #ff0000;">Welcome to First Assignment which is hosted on AWS.</span></h1>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn-images-1.medium.com/max/2000/1*tFl-8wQUENETYLjX5mYWuA.png" alt="" width="1200" height="630" /></p>
<p>&nbsp;</p>
<h2 style="text-align: center;"><a href="student"><strong>Enter for Registration</strong></a></h2>
<p>&nbsp;</p>
